<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <link rel="stylesheet" href="assets/lib/angular/angular-csp.css">
        <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/styles/style.css">
    </head>
    <body data-ng-cloak data-ng-controller="ResumeController as resume">
        <div id="resume">
            <header id='header' class="clear" data-ng-include="'assets/partials/basics.html'">
            </header>

            <section class="section main-summary"
                     data-ng-if="resume.summary"
                     data-ng-include="'assets/partials/main-summary.html'">
            </section>

            <section class="section margin1"
                     data-ng-if="resume.skills"
                     data-ng-include="'assets/partials/skills.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.work"
                     data-ng-include="'assets/partials/work.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.education"
                     data-ng-include="'assets/partials/education.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.awards"
                     data-ng-include="'assets/partials/awards.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.publications.length"
                     data-ng-include="'assets/partials/publications.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.volunteer"
                     data-ng-include="'assets/partials/volunteer.html'">
            </section>

            <section class="section margin1"
                     data-ng-if="resume.languages"
                     data-ng-include="'assets/partials/languages.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.interests"
                     data-ng-include="'assets/partials/interests.html'">
            </section>

            <section class="section"
                     data-ng-if="resume.references"
                     data-ng-include="'assets/partials/references.html'">
            </section>

            <footer>
                <!-- EMPTY SO FAR -->
            </footer>
        </div>
        <!-- data-main attribute tells require.js to load scripts/main.js after require.js loads. -->
        <script data-main="main" src="assets/lib/requirejs/require.js"></script>
    </body>
</html>
